body {
  background-color: #f1fcfc;
  font-family:system-ui;
}

hr {

  border-style:none;
  border-top-style: dotted;
  border-color:#dbdbdb;
  border-width: 10px;
  width: 5%;
}

h1{
  font-size: 40px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #3b6978;
}

h3{
  font-size: 25px;
  font-family: cursive;
  color:#18b0b0 ;
}

h4{
  font-size: 25px;
  font-family: cursive;

}

a:hover{
  color: #d7385e;
}

img:hover{
  opacity: 0.7;
}
